.awalan {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    }
    .footer{padding: 10px;text-align: center;background-color: black;color: white;font-size: 19px;}
    .awalan h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), 0 0 5px #fff ;
  }
  to {
    text-shadow: 0 0 10px whitesmoke, 0 0 8px #fff, 0 0 8px #ffc3e1, 0 0 8px #ffc3e1, 0 0 8px #ffc3e1, 0 0 8px #ffc3e1, 0 0 8px #ffc3e1;
  }
}
            /* background-clip: text; */
    }
    .flex-column {flex-direction: column;}
    .section-1 {
    padding-top: 10rem;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%),url("2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    

    }
    .section-2 {
      padding-top: 10rem;
      background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%),url("3.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      
  
      }
    .section-1 p {
    margin-bottom: 5rem;
    }
    .col-sm-7{background-color: #000000;border-radius: 10px;margin-left: 1%;}
    .col-sm-4{background-color: #000000;border-radius: 10px;}

    .section-1 ul{text-align: justify;color: whitesmoke;}
    .section-2 ul{text-align: justify;color: whitesmoke;}
    
    .selo-1,.selo-2{color: honeydew;background-color: black;padding: 100px 120px;text-align: center;font-size: 30px;}
    .col-sm-7 p{color: whitesmoke; text-align: justify;} 
    .col-sm-7 h3{color: rgb(255, 255, 255);}
    .col-sm-7 h2{color: white;}
    .col-sm-7 h1{color: rgb(214, 189, 189);}

    .col-sm-7 label{color: aliceblue;font-size: 20px;text-align: left;}
    .col-sm-7 input{border-radius: 5px;align-items: justify;}
    .col-sm-4 p{color: whitesmoke; text-align: justify;} 
    .col-sm-4 h3{color: white;}
    .col-sm-4 h2{color: white;}
    .col-sm-4 label{color: white;font-size: 20px;text-align: left;}
    .col-sm-4 input{border-radius: 5px;align-items: justify;}
    .col-sm-4 button{text-align: center;}
    .col-sm-4 tr{text-align: left;}
    .btn {
        display:inline-flex;
        font-weight: 400;
        color:white;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background-color: gray;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .btn-primary{text-align: center;}
    .btn:hover{background-color: black;color: white;}
     .navbar-brand {
    color: white;
        }
        .navbar-brand:hover, .navbar-brand:focus{color: gray;}
      .navbar-nav .nav-link {
        color: #fff;
      }
      .navbar-nav .nav-link:hover,  .navbar-nav .nav-link:focus {
        color: gray;
      }
    #mainNav.navbar-shrink {
    background-color:black;
    }
          #mainNav.navbar-shrink .navbar-brand {
        color: white;
    }
    #mainNav.navbar-shrink .nav-link {
        color: white;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    